body {
    background-color: pink;
    padding: 24px;
}

button {
    background-color: purple;
}

nav {
    display: flex;
    gap: 18px;
    justify-content: center;
}

.nav_buttons {
    display: flex;
    gap: 18px;
    align-items: end;
}
