nav {
  background-color: #f9f9f9;
  justify-content: space-between;
  display: flex;
  gap: 18px;
  padding: 32px;
}

.nav_buttons {
  display: flex;
  gap: 24px;
}

.home {
  background-color: #f9f9f9;
  padding: 16px;
}

.projects {
  background-color: #f9f9f9;
}


