body {
  line-height: 1.6;
  color: rgb(42, 45, 56);
  font-family: Inter, sans-serif;
  background: #f9f9f9;
}

nav {
  background-color: #f9f9f9;
  justify-content: space-between;
  display: flex;
  gap: 18px;
  padding: 32px;
}

.logo {
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: #2a2d38;
}

.nav_buttons {
  display: flex;
  list-style: none;
  gap: 30px;
}

.home {
  background-color: #f9f9f9;
  padding: 32px;
}

.projects {
  background-color: #f9f9f9;
}


